Gunicorn
blinker
certifi
charset-normalizer
click
colorama
docopt
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tzdata
urllib3
Werkzeug
yarg
html

